POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=finance_ai

REDIS_HOST=redis
REDIS_PORT=6379

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_SECURE=false
DOCUMENT_BUCKET=documents
MAX_UPLOAD_BYTES=10485760
PDF_SPLIT_DPI=200
SEGMENTATION_THRESHOLD=245
SEGMENTATION_MIN_AREA=5000
SEGMENTATION_MERGE_PADDING=24

OPENROUTER_API_KEY=

TESSERACT_PATH=/usr/bin/tesseract
POPPLER_PATH=
